.cleaning-container{
    margin-bottom: 80px;
    text-align: center;
    width: 200px;
    align-self: center;
}

.cleaning-title {
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #060b26;
}