@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;  
  
}

.dashboard, .home, .security, .lights, .garden, .cleaning, .profile {
  display: flex;
  height: 90vh;
  background-color: #D9E3F0;
  z-index: 0;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-right: 10px;
  flex-flow: column;
}