/* .home {
    display: flex;
} */

.home-container {

    align-items: center;
    justify-content: space-around;
    display: grid;
}

.home-title {
    margin-bottom: 80px;
    text-align: center;
    border-bottom: 2px solid #060b26;
}