.container-weatherCard_container {
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.container-weatherCard_widget {
    background: linear-gradient(to bottom right, #3cc0fe 25%, #0066ff);
    width: 400px;
    /* height: 1.4; */
    border-radius: 20px;
    box-shadow: 0px 60px 80px -20px , rgba(#27a5fd, 0.4);
    position: relative;
    overflow: hidden;
    border: 3px solid #060b26;
}

.container-weatherCard_data__location {
    display: flex;
    color: #d2e9fa;
    font-size: 2em;
    font-weight: 300;
    /* width: 260px; */
    padding-bottom: 26px;    
    /* margin-left: 8px;
    margin-bottom: 8px; */
}
.container-weatherCard_data {
    font-family: sans-serif;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 60px;
    border-bottom: 2px solid #9cd0ff;
    margin-right: 60px;
    padding-bottom: 10px;
  }

  .container-weatherCard_data__icon {
    /* position: absolute; */


    border-radius: 50%;
    background: linear-gradient(to top left, rgba(60, 192, 254, 0.7) 20%, rgba(0, 102, 255, 0.6));
    right: -40px;
    top: -90px;
    border: 2px solid #9cd0ff;
    height: 80px;
    width: 80px;
    top: 200px;
    left: 80px;
  }

  .container-weatherCard_data__weatherIcon {
    display: flex;
    color: #d2e9fa;
    font-size: 2em;
    font-weight: 300;
    /* width: 260px; */
    margin-top: -16px;
    padding-bottom: 16px;    
    /* margin-left: 8px; */
    justify-content: space-between;
    align-items: center;
  }

  .container-weatherCard_temp {
    /* width: 260px;
    text-align: right; */
    color: #d2e9fa;
    font-weight: 1;
    font-size: 80px;
  }

  .container-weatherCard_data__weather {
    display: flex;
    color: #d2e9fa;
    font-size: 2em;
    font-weight: 300;
    margin-top: -16px;
    /* padding-bottom: 16px;    
    margin-left: 8px;
    margin-right: 60px; */
  }

  .container-weatherCard_list {
    text-align: center;
    color: #d2e9fa;
    font-size: 1.6em;
    font-weight: 300;
    margin-top: 16px;
    margin-left: 60px;
    margin-bottom: 20px;
    margin-right: 60px;

  }
  
  .container-weatherCard_diffTemp__max {
    float:left;
    align-content: center;
    display: inline-flex;
  }

  .container-weatherCard_diffTemp__min {
    float: center;
    align-content: center;
    display: inline-flex;
  }

  .container-weatherCard_humidity {
    float: right;
    align-content: center;
    display: inline-flex;
  }

  .weatherCard_date {
    color: #d2e9fa;
    text-align: right;
    margin-bottom: 26px;
    margin-right: 30px; 
  }

  .container-weatherCard_diffTemp__minIcon {
    color: #3535ED;
    font-size: 30px;
  }

  .container-weatherCard_diffTemp__maxIcon {
    color:#BB1010;
    font-size: 30px;
  }

  .container-weatherCard_humidityIcon {
    color: #06066E;
    font-size: 30px;
  }